@import "tailwindcss";
body,
html {
  background: var(--background);
  color: var(--foreground);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tw-text-opacity: 1;
  color: rgb(16 24 32 / var(--tw-text-opacity));
  font-family: Avenir Next LT W01 Medium, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.clip_path {
  clip-path: polygon(0 0, 100% 13%, 100% 87%, 0 100%);
}
.coffee_clip_path{
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
}



/* .main_clip{
  clip-path: polygon(0 1%, 100% 0, 100% 89%, 0 100%);
 } */
body {
  width: 100%;
}
/* * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
} */

/* .res_class {
  display: flex;
  justify-content: space-between;
  width: 100%;

 
}

@media screen and (max-width: 768px) {
  
.res_class {
 flex-direction: column;
 display: flex;
 justify-content: space-between;
 width: 100%;
}
}  */
